{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "parser": "babel-eslint",
  "globals": {},
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": [0, ""],
    "array-callback-return": "off",
    "consistent-return": "off"
  }
}
